
body {
    background-image:url(../imagens/grid.gif);
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

article, aside, section, header, footer, nav {
    display:block;
}

article, div, h1, h2, p {
    margin:0;
    padding:0;
}

main {
    width:100%;

}

.em {
    float:left;
    width:58%;
    margin-bottom:50px;
    background-color:rgba(153,102,153,0.5);
}

.percentual {
    float:right;
    width:40%;
    background-color:rgba(255,255,204,0.5);
    margin-bottom:50px;
}

footer {
    width:960px;
    background-color:rgba(255,204,51,0.8);
    clear:both;
}

h1 {
    font-size:3em;
    margin-bottom:1em;
}

h2 {
    font-size:2em;
    margin-bottom:1em;
}

p {
    font-size:1.5em;
    margin-bottom:1em;
}
