section div{
    border: solid;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 250%;
    margin: 10px;
}

/*Pseudo-classes

/*hover*/
section div:hover{
    background-color: rgb(0, 16, 16);
}


/*functionaol not()*/

section div:not(.nao){
    background-color: rgb(0, 16, 16);
}

/*funtional has
section:has(div:hover){
background-color: red
}

:root{
    /*Ela tem mais peso do que o html
}


*/

