.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 10px;
}


/* 
Positional alignment
justify-content: center; centro
justify-content: start;  paradrão
justify-content: end;
justify-content: flex-start;
justify-content: flex-end;
justify-content: left;
justify-content: right;
 */


/* The direction text is laid out in a lin
flex-direction: row;
flex-direction: row-reverse;
flex-direction: column;
flex-direction: column-reverse;e 
*/

.main{
margin-top: 40px;
display: grid;
grid-template-columns:20px 20px;
}