body{
    margin: 0;
 
}

header, main, aside, footer{
    border: solid 1px black;
}

.container{
 
    display: grid;
    grid-template-columns:repeat(2, 4fr);
    grid-template-rows:1fr 1fr;

    height: 100vh;



}
