/*
Anatomia das CSS

* Declaration 
* Seletor
* {} - context
* Properties
* Property value
*/


/*Seletor*/
h1{ 
    background-color: black;
    color: antiquewhite; /*Properts value*/
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

