* {

  padding: 0;
  margin: 0;

}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background-color: bisque;
}

#principal {
  width: 730px;
  margin: 10px auto;
  background-color: black;

}


#janela {

  width: 350px;
  background-color: aqua;
  padding: 30px;
  border-radius: 30px;
}

