.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    border: solid;
    background-color: aqua;
    width: 100px;
    height: 100px;
    /* mantém o texto centralizado caso tenha múltiplas linhas */
}

.container{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    margin: auto;

}